<div id="answer" class="container">
  <h1>This is your answer</h1>

  <h2>You</h2>
  <p><%= @question %></p>

  <h2>Your coach</h2>
  <p><%= @answer %></p>

  <p><%= link_to "Ask a new question", ask_path %></p>
<div>
